node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.git
.gitignore
.github
.vscode
.idea
dist
coverage
logs/*
.env
.env.local
.env.development
.env.test
.env.production
*.md
!README.md
docker-compose*.yml
Dockerfile* 